*.pyc
*.pdf
!regex_usage_in_practice_survey.pdf
*.class
.DS_Store
*.db
repo/
data/
.project
.metadata
analysis/bin/
.launch
.classpath
*.bbl
*.blg
*.aux
*.log
*.aux
output
*.js
*.Rout
.RData
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*/RegexFeatureUseInPractice.pdf
